#initially-hidden {
  display: none;
}

#hide-image {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickFadeIn {
  display: none;
}

h1 {
  cursor: pointer;
  color: blue;
}

h1:hover {
  text-decoration: underline;
}
